@import "../../styles/Mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.image {
  height: 40vh;
  animation: rotation 2s infinite linear;
}

.text {
  @include big_text;
  font-style: italic;
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}  