@import "../../../styles/Mixins";

textarea {
  height: 80px;
  max-width: 250px;
  max-height: 255px;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  height: inherit;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}

.title {
  @include big_text;
}

.form_title {
  @include medium_text;
  text-align: center;
  margin-bottom: 5px;
}

.box_wrapper {
  width: 90%;
  display: flex;
  align-items:  center;
  justify-content: start;
}

.box{
  background: #cfcfcf;
  box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  accent-color: #c84fff;
  width: 20px;
  height: 20px;
}

.text{
  @include medium_text;
}

.form {
  position: relative;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: #c84fff 1px dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.clear {
  @include button;
  border-radius: 35%;
  position: absolute;
  height: min-content;
  width:  min-content;
  font-weight: bold;
  right: 2%;
  bottom: 2%;
}

.button {
  @include button;
}

.form_input {
  width: 95%;
  margin-bottom: 5px;
  padding: 2px;
  background-color: #cfcfcf;
  border-radius: 5px;
  border: 1px solid black;
  @include medium_text
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cartInfo_input::-webkit-scrollbar {
  width: 5px;
}

.cartInfo_input::-webkit-scrollbar-track {
  margin: auto;
  background: #3F3F3F82;
  border-radius: 5px;
}

.cartInfo_input::-webkit-scrollbar-thumb {
  background-color: #c14ff4;
  border-radius: 5px;
  height: 30px;
}

.alert {
  @include medium_text;
  margin-top: 5px;
  padding: 3px;
  height: min-content;
  width: 95%;
  border-radius: 5px;
  background-color: #c14ff4;
  text-align: center;
}

@media (max-width: 640px) {
  .cartInfo {
    width: 60%;
  }
}