@import "../../styles/Mixins";

.hotspot {
  width: 280px;
  height: 420px;
  background-color: #e1dfdf;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  border: #3f3f3f 1px dashed;
  margin: 10px;
}

.hotspot_title {
  @include big_text;
  padding-bottom: 10px;
  height: 10%;
}
.product_content_wrapper {
  display: flex;
  height: 90%;
  width: 100%;
  flex-direction: column;
}