.catalog {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 15px;
}

.absolute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}