@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.header {
  background-color: #251f23;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_content_wrapper {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.header_button {
  display: flex;
  align-items: center;
  padding-inline: 5px;
  height: 100%;
}

.header_button_active {
  background-color: #ed1779;
}

.header_button_active:hover {
  background-color: #ec569b;
}

.header_button_wait:hover {
  background-color: #3f3f3f;
}

.header_text {
  text-decoration: none;
  @include light_gray_font;
  @include big_text;
}

.header_image {
  height: 70%;
  border-radius: 50%;
  padding-right: 5px;
}

@media (max-width: 400px) {
  .header_content_wrapper {
    width: 99%;
  }
}