@import "../../styles/Mixins.scss";
@import "../../styles/ProductMixins.scss";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  @include product_button;
  width: max-content;
  height: 90%;
  padding: 5px;
}