@font-face {
  font-family: Tilda-Sans; /* Имя шрифта */
  src: url(fonts/TildaSans-Semibold.woff); /* Путь к файлу со шрифтом */
}

@mixin big_text {
  font-size: 1.875rem;
  font-family: Tilda-Sans, sans-serif;
}

@mixin medium_text {
  font-size: 1rem;
  font-family: Tilda-Sans, sans-serif;
}

@mixin small_text{
  font-size: 0.75rem;
  font-family: Tilda-Sans, sans-serif;
}

@mixin light_gray_font{
  color: #CECECED6;
}
