@import "../../../styles/Mixins";

.table_wrapper{
  display: flex;
  justify-content: center;
  border: 1px solid #c14ff4;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(153, 83, 186), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #dcd0dc;
  padding: 15px;
  margin: 10px;
  width: 100%;
  height: 90%;
}

.absolute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}