@import "../../../styles/Mixins";

.table_wrapper{
  display: flex;
  justify-content: center;
  border: 2px solid #c14ff4;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(153, 83, 186), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #dcd0dc;
  padding: 15px;
  margin: 10px;
  width: 100%;
  height: 90%;
}

.table{
  @include medium_text;
  width: 100%;
  height: max-content;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    height: 3px;
  }
  &::-webkit-scrollbar-track {
    margin: auto;
    background: #3f3f3f;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c14ff4;
    border-radius: 5px;
    height: 30px;
  }
}

.table th,
.table td {
  border: 2px solid #c14ff4;
  border-collapse: collapse;
  vertical-align: middle;
  padding: 8px 12px;
  height: auto;
}

.table th {
  background-color: #dcd0dc;
}

.table tr:hover td {
  background-color: #d1bcf5;
}

.table tr:first-child th {
  border-top: none;
}
.table tr:last-child td {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: none;
}
.table tr td:first-child,
.table tr th:first-child {
  border-left: none;
}
.table tr td:last-child,
.table tr th:last-child {
  border-right: none;
}

.absolute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}