@import "../../../styles/Mixins";

.contacts {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.title {
@include content_title;
}

.description {
  @include content_descr;
}

.map_wrapper {
  width: 100%;
  height: 40vh;
  border-radius: 5px;
}