.logo_container {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.logo_img {
  border-radius: 30%;
  padding: 5px;
  width: 50%;
}

@media (max-width: 640px) {
  .logo_container {
    width: 70%;
  }
}